/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

:root {
  --primary-light-blue: #00d5ff;
  --primary-blue: #03adfc;
  --primary-dark-blue: #006aff;
  --primary-white: #ffffff;
  --primary-red: red;
  --primary-gray: gray;
  --primary-black: rgba(0, 0, 0, 0.2);
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*************CIRCLE*************/
.circle {
  display: flex;
  /* position: relative; */
  background-color: var(--primary-light-blue);
  height: 17rem;
  width: 26rem;
  border-bottom-left-radius: 25rem;
  border-bottom-right-radius: 25rem;
  justify-content: center;
  align-items: center;
  margin-left: -2rem;
  margin-top: -1rem;
  z-index: 2;
  animation: 2s ease-in-out 0s 1 slideInFromTop;
}

.directions-circle {
  height: 30rem;
  background-color: var(--primary-blue);
  margin-top: -14rem;
  z-index: 1;
}

@keyframes slideInFromTop {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0)}

}


/*************APPLICATION-TITLE*************/
.application-title {
  /* border: 1px solid purple; */
  text-align: center;
  color: var(--primary-white);
  font-size: 6rem;
}

.drop {
  color: var(--primary-dark-blue);
}

/*************APPLICATION*************/
.application-forecast {
  /* border: 1px solid blue; */
  text-align: center;
  align-items: center;
}

/*************INPUTS*************/
.inputs {
  display: flex;
  margin-top: 9rem;
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  margin-left: 2.5rem;
}

/*************ERRORMESSAGE*************/
.Small {
  color: var(--primary-red);
}

/*************CARD*************/
.card-img-top {
  border-radius: 1.25rem 1.25rem 0 0 !important;
  height: 11rem;
}

.card {
  border-radius: 1.25rem !important;
  height: 20rem;
  width: 16rem;
  box-shadow: 0 0.25rem 0.5rem 0 var(--primary-black);
  text-align: center;
}

.degrees {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}

.sky-type {
  display: flex;
  border-left: 0.0625rem solid var(--primary-gray);
  text-transform: capitalize;
  /* border: 1px solid blue; */
  align-items: center;
  justify-content: center;
  width: 7rem !important;
}
