:root {
  --primary-light-blue: #00d5ff;
  --primary-blue: #03adfc;
  --primary-dark-blue: #006aff;
  --primary-white: #ffffff;
  --primary-red: red;
  --primary-gray: gray;
  --primary-black: rgba(0, 0, 0, 0.2);
}

.container-fluid {
  display: flex;
  position: relative;
  justify-content: center;
  height: 100vh;
  background-color: whitesmoke;
}

/*************CIRCLE*************/
.circle {
  display: flex;
  height: 17rem;
  width: 26rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.title-circle {
  height: 14rem;
  background-color: var(--primary-light-blue);
  border-bottom-left-radius: 25rem;
  border-bottom-right-radius: 25rem;
  animation: 2s ease-in-out 0s 1 slideInFromTop;
}
  
.directions-circle {
  display: flex;
  position: absolute;
  height: 25rem;
  background-color: var(--primary-blue);
  z-index: 1;
  border-bottom-left-radius: 25rem;
  border-bottom-right-radius: 25rem;
  animation: 2s ease-in-out 0s 1 slideInFromTop;
}

.card-circle {
  height: 49.5rem;
  position: absolute;
  background-color: var(--primary-dark-blue);
  z-index: 0;
  border-bottom-left-radius: 25rem;
  border-bottom-right-radius: 25rem;
  animation: 2s ease-in-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {transform: translateY(-250%);}
  100% {transform: translateY(0)}
}


/*************APPLICATION-TITLE*************/
.application-title {
  text-align: center;
  color: var(--primary-white);
  font-size: 6rem;
}

.drop {
  color: var(--primary-dark-blue);
}

/*************APPLICATION*************/
.application {
  width: 40%;
  position: relative;
}

@media(max-width: 768px) {
  .application {
    width: 100vw;
  }
}

/*************INPUTS*************/
.inputs {
  margin-top: 14rem;
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 1rem;
  margin-left: 2.5rem;
}

/*************ERRORMESSAGE*************/
.Small {
  color: var(--primary-red);
}

/*************CARD*************/
.card-container {
  margin-top: 24rem;
}

.card-img-top {
  border-radius: 1.25rem 1.25rem 0 0 !important;
  height: 11rem;
}

.card {
  border-radius: 1.25rem !important;
  height: 20rem;
  width: 16rem;
  box-shadow: 0 0.25rem 0.5rem 0 var(--primary-black);
  text-align: center;
}

.degrees {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sky-type {
  display: flex;
  border-left: 0.0625rem solid var(--primary-gray);
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  width: 7rem !important;
}

/*************CREDITS*************/
.credits {
  text-align: center;
}
