/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*************APPLICATION-TITLE*************/
.application-title {
  /* border: 1px solid purple; */
  text-align: center;
}

/*************APPLICATION*************/
.application-forecast {
  /* border: 1px solid blue; */
  text-align: center;
  align-items: center;
}

/*************ERRORMESSAGE*************/
.Small {
  color: red;
}

/*************CARD*************/
.card {
  border-radius: 1.25rem !important;
  height: 20rem;
  width: 16rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2)
}

.card-img-top {
  border-radius: 1.25rem 1.25rem 0 0 !important;
  height: 11rem;
}

.sky-type {
  border-left: 0.0625rem solid gray;
  text-transform: capitalize;
}
